<!DOCTYPE html>
<html>
<head>
    <title>{$node.node_title}</title>
    {include file="common/header"/}
    <el-card class="box-card" shadow="never">
        <div slot="header" class="clearfix">
            <span>SEO设置</span>
        </div>
        <div class="base_form" style="padding-right: 220px;">
            <el-form ref="form" label-width="220px">
                <block v-for="(items, indexs) in form" :key="indexs">
                    <el-form-item :label="items.conf_title?items.conf_title:items.conf_key">
                        <block v-if="items.conf_spec==1">
                            <el-input type="textarea" :rows="4" v-model="items.conf_value"></el-input>
                        </block>
                        <block v-else-if="items.conf_spec==2">
                            <el-radio v-model="items.conf_value" v-for="(val, key) in items.conf_content" :key="key" :label="val.value">{{val.name}}</el-radio>
                        </block>
                        <block v-else-if="items.conf_spec==3">
                            <el-checkbox-group v-model="items.conf_value">
                                <el-checkbox v-for="(val, key) in items.conf_content" :key="key" :label="val.value">{{val.name}}</el-checkbox>
                            </el-checkbox-group>
                        </block>
                        <block v-else>
                            <el-input v-model="items.conf_value"></el-input>
                        </block>
                        <span class="f_tips">{{items.conf_desc}}</span>
                    </el-form-item>
                </block>
                <el-form-item v-if="form.length > 0">
                    <el-button type="primary" @click="onSubmit">保存配置</el-button>
                </el-form-item>
                <el-form-item v-else>
                    <span style="color: #999;">暂无SEO配置项</span>
                </el-form-item>
            </el-form>
        </div>
    </el-card>
    {include file="common/footer"/}
    <script>
        var app = new Vue({
            el: '#app',
            data() {
                this.getData();
                return {
                    form: [],
                    confType: 9
                }
            },
            methods: {
                getData() {
                    var that = this;
                    axios.post('/admin/conf/getConfigByType', Object.assign({type: that.confType}, PostBase))
                        .then(function (res) {
                            if (res.data.code == 200) {
                                for (let item of res.data.data) {
                                    if (item.conf_spec == 2) {
                                        for (let i = 0; i < item.conf_content.length; i++) {
                                            let d = item.conf_content[i].split("=>");
                                            item.conf_content[i] = {name: d[0].toString(), value: d[1].toString()}
                                        }
                                    } else if (item.conf_spec == 3) {
                                        for (let i = 0; i < item.conf_content.length; i++) {
                                            let d = item.conf_content[i].split("=>");
                                            item.conf_content[i] = {name: d[0].toString(), value: d[1].toString()}
                                        }
                                        if (item.conf_value) {
                                            item.conf_value = item.conf_value.split(",");
                                        } else {
                                            item.conf_value = []
                                        }
                                    } else if (item.conf_spec == 5) {
                                        if (item.conf_value) {
                                            item.conf_value = item.conf_value.split(",");
                                            for (let i = 0; i < item.conf_value.length; i++) {
                                                if (!item.conf_value[i]) {
                                                    item.conf_value.splice(i, 1);
                                                }
                                            }
                                        } else {
                                            item.conf_value = []
                                        }
                                    }
                                }
                                that.form = res.data.data;
                            } else {
                                that.$message.error(res.data.message);
                            }
                        })
                        .catch(function (error) {
                            that.$message.error('服务器内部错误');
                        });
                },
                onSubmit() {
                    var that = this;
                    var postData = {};
                    for (var i = 0; i < that.form.length; i++) {
                        postData[that.form[i].conf_key] = that.form[i].conf_value;
                    }
                    axios.post('/admin/conf/updateConfigByType', Object.assign({type: that.confType}, PostBase, postData))
                        .then(function (res) {
                            if (res.data.code == 200) {
                                that.$message({message: res.data.message, type: 'success'});
                            } else {
                                that.$message.error(res.data.message);
                            }
                        })
                        .catch(function (error) {
                            that.$message.error('服务器内部错误');
                        });
                },
            }
        })
    </script>
</html>
